@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  background: #f5f8fa;
  overflow-x: hidden;
  margin-block: 30px;
  margin-inline: 40px;
  font-style: normal;
  height: 100vh;
  line-height: normal;
}

.container {
  width: 1440px;
  min-width: 900px;
}

header {
  padding-inline: 40px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: 30px;
  padding-block-end: 30px;
  border-bottom: 1px solid#E0E6EA;
}

.nav-item.active {
  padding-inline: 20px;
  padding-block: 11px;
  border-radius: 6px;
  border: 2px solid #646e7a;
}
.nav-item a {
  color: #1d2c3c;
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
  width: 476px;
  height: 40px;
  list-style: none;
}

ul:hover,
.wPusherLogo {
  cursor: pointer;
}

.wPusherLogo {
  background-image: url("wppusher-logo-copy.png"); /* Use relative path or URL */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 39px;
}

main {
  display: flex;
  justify-content: center;
  margin-block-start: 80px;
}

main .mainBody {
  display: flex;
  width: 892px;
  max-height: 795px;
  flex-direction: row;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05),
    0px 15px 35px 0px rgba(43, 64, 78, 0.1);
}

.mainBody .checkoutSection {
  flex-grow: 1;
}

.freelancerSection {
  width: 35%;
  background-color: #1179bf;
  display: flex;
  border-radius: 0px 6px 6px 0px;
  flex-direction: column;
  padding-inline-start: 46px;
  padding-inline-end: 32px;
  padding-block-start: 42px;
  color: #fff;
}

.firstSection {
  border-bottom: 1px solid#E0E6EA;
  padding-inline: 48px;
  padding-block-start: 41px;
  padding-block-end: 24px;
}

.firstSection h2 {
  color: #1d2c3c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-weight: 400;
}

.secondSection,
.thirdSection,
.fourthSection {
  border-bottom: 1px solid #e0e6ea;
  padding-inline: 48px;
  padding-block-start: 36px;
  padding-block-end: 41px;
}

.formInformation {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block-end: 9px;
}

.thirdSection .formInformation {
  padding-block-end: 21px;
}

.formInformation .number {
  color: #548bc5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.142px;
  border: 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formInformation .Info {
  color: #1d2c3c;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex: 1;
  gap: 7px;
}

.formGroup label {
  color: #1d2c3c;
  font-weight: 400;
}

.formRow {
  display: flex;
  justify-content: space-between;
  padding-block-end: 15px;
  gap: 10px;
  flex-wrap: wrap;
}

.formGroup input {
  padding-inline-start: 13px;
  padding-block: 9px;
  background-color: #edeff2;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.formGroup .email {
  width: 76%;
}

.cardDetails {
  display: flex;
}

#cardNumber {
  width: 70%;
  border-radius: 4px 0 0 4px;
}

#expirationDate {
position: relative;
z-index: -10;
}

.expiryDateInput {
  background-color: #edeff2;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.expiryDateInput > div[data-name="customDate"]{
  position: absolute;
  

}

#cvc {
  border-radius: 0 4px 4px 0;
  width: 12%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

span.question {
  color: #548bc5;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourthSection {
  margin-block-start: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: none;
}

button:focus {
  outline: none;
}

button.submit {
  padding-block-start: 13px;
  padding-block-end: 17px;
  margin-block-end: 24px;
  border: none;
  width: 100%;
  background-color: #038e7d;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  letter-spacing: -0.396px;
}

.imgText {
  display: flex;
  align-items: center;
  margin-block-end: 28px;
}

.imgText img {
  margin-inline-end: 10px;
}

.freelancerSection h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
  margin-block-end: 6px;
}

.dataPrice {
  display: flex;
  align-items: center;
}

.dataPrice sup {
  font-size: 1.5rem;
  padding-block-end: 18px;
  padding-inline-end: 6px;
}

.dataDigit {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.015px;
}

.perYear {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.015px;
}

.freelancerSection .renewal {
  width: 80%;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.008px;
  margin-block-end: 37px;
}

.freelancerSection u {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  height: 96px;
  margin-block-end: 38px;
}

.freelancerSection u ul {
  display: flex;
  align-items: center;
  gap: 11px;
}

.needAgency {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.008px;
  height: 50px;
  margin-block-end: 42px;
}
.needClients {
  font-size: 1.125rem;
  font-style: normal;
}

.agency {
  font-size: 1.125rem;
}

.FTP {
  margin-block-start: 43px;
  margin-block-end: 17px;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.009px;
}

.profileImg {
  display: flex;
  align-items: center;
  gap: 14px;
}

.profileImg img {
  font-size: 0.875rem;
  border-radius: 50%;
}

.profileName {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.008px;
}

footer {
  text-align: center;
  font-weight: 400;
  margin-block-start: 33px;
}
footer p {
  color: #636b6f;
  text-align: center;
}
footer span {
  color: #31708f;
  padding-block-end: 139px;
}
