
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #f7fdfc;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-style: normal;
  line-height: normal;
  margin-inline: 24px;
  margin-block-start: 30px;
}

.first-section {
  flex: 1;
  margin-block-end: 40px;
}

h2 {
  color: var(--CL-Black, #000b0a);
  font-family: Brown;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
}

.message {
  color: var(--CL-Grey, #737373);
  font-family: Brown;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  margin-block-start: 12px;
}

.forDesktop {
  display: none;
}

.second-section {
  flex: 1;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  padding-block-start: 24px;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
}

.bio-data1 {
  flex-direction: column;
  display: flex;
}

input,
select {
  display: flex;
  height: 48px;
  border-radius: 2px;
  border: 2px solid #f0f0f0;
  outline: none;
  padding-inline: 16px;
  padding-block: 14px;
}

input:focus {
  border: 1px solid var(--CL-Green, #2ec4b6);
}

label {
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
  padding-block-end: 10px;
}

.data1Info,
.data2Info,
.data3Info,
.data4Info,
.data5Info {
  display: flex;
  flex-direction: column;
  padding-block-end: 24px;
}

.submit {
  display: flex;
  flex-direction: column;
}

.submit button {
  color: white;
  background-color: var(--CL-Green, #2ec4b6);
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
  outline: none;
  border: none;
  padding-block: 16px;
  font-size: 1rem;
  margin-block-end: 30px;
}

footer p {
  text-align: center;
  margin-block-start: 24px;
  margin-block-end: 64px;
  font-size: 0.875rem;
}

@media (min-width: 950px) {
  .container {
    flex-direction: row;
    margin-inline: 140px;
    justify-content: center;
    margin-block-start: 81px;
  }

  .forDesktop {
    display: block;
  }

  .forMobile {
    display: none;
  }

  .first-section {
    min-width: 400px;
    margin-block-end: 0px;
    padding-inline-start: 0;
    padding-inline-end: 120px;
    padding-block-start: 120px;
  }

  .message {
    margin-block-start: 20px;
    width: 80%
  }

  .second-section {
    justify-content: center;
    min-width: 520px;
    padding-inline: 40px;
    padding-block-start: 40px;
  }

  .bio-data1,
  .bio-data2,
  .bio-data3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    gap: 20px;
    flex-wrap: wrap;
  }

 
  .data1Info, .data2Info, .data3Info {
    display: flex;
    flex: 1;
    flex-direction: column;
  }


  .submit button {
    margin-block-end: 16px;
  }

  footer p {
    margin-block-start: 0px;
    margin-block-end: 40px;
    font-size: 0.875rem;
  }

}
