@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f8fa;
  overflow: hidden;
  margin-block: 30px;  
  margin-inline: 40px;

}

.container {
  width: 1440px;
  border: 1px solid red;
  height: 1170px;
}

header{
  padding-inline: 40px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: 30px;
  padding-block-end: 30px;
  border-bottom: 1px solid#E0E6EA;

}
ul.active{
  padding-inline: 20px;
  padding-block: 11px;
  border-radius: 6px;
  border: 2px solid #646E7A;
}
header nav li {
  display: flex;
  flex-direction: row;
  color: #1d2c3c;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
  width: 476px;
  height: 40px;
}

ul:hover, .wPusherLogo{
  cursor: pointer;
}


.wPusherLogo {
  background-image: url("wppusher-logo-copy.png"); /* Use relative path or URL */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 39px;
}
