* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f7fdfc;
  overflow-x: hidden;
  margin-block: 30px;
  font-style: normal;
  line-height: normal;
}

.container {
  display: flex;
  /* width: 375px; */
  min-width: 340px;
  max-width: 768px;
  flex-direction: column;
  margin-inline: 24px;
  justify-content: center;
  /* flex: wrap; */
}

.first-section {
  /* border: 1px solid black; */
  color: white;
  margin-block-end: 40px;
  padding-inline:14px;
}

img {
  width: 38.667px;
  height: 40px;
}

h2 {
  color: var(--CL-Black, #000b0a);
  font-family: Brown;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
}

.sentence {
  color: var(--CL-Grey, #737373);
  font-family: Brown;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.second-section {
  height: 870px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bio-data1 {
  flex-direction: column;
  display: flex;
  /* border: 2px solid red; */
}

.data1Info, .data2Info, .data3Info, .data4Info, .bio-data5{
  display: flex;
  flex-direction: column;
  padding-block-end: 24px;
}

.firstname{
  /* border: 2px solid blue; */
}

.data1Info:last-child{
  /* border: 2px solid red; */
  padding-bottom: 0;
}

input, select{
  display: flex;
  height: 48px;
  border-radius: 2px;
  border: 1px solid #F0F0F0;
  outline: none;
  padding-inline: 16px;
  padding-block: 14px;
}

input:focus{
  border: 1px solid var(--CL-Green, #2EC4B6);
}

label {
  color: var(--Text-Headings, #011c34);
  font-family: Sofia Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
  padding-block-end: 10px;
}

.bio-data1, .bio-data2, .bio-data3, .bio-data4, .bio-data5{
  padding-block-start: 24px;
}

.bio-data2{
  display: flex;
  flex-direction: column;
}
@media (min-width: 765px) {
  .container {
    flex-direction: row;
    min-width: 765px;
    max-width: 1440px;
    margin-inline: 140px;
    justify-content: center;
  }

  .first-section {
    flex: 1;
    color: white;
  }

  .second-section {
    flex: 1;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    width: 580px;
  }
  .bio-data1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .bio-data2{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    justify-content: space-between;
  }
}
